<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Show Result</title>
        <style type="text/css">
            body
            {
                padding: 0;
                margin :0;
            }
            h2
            {
                font-size: 5em;
                margin:0;
                padding: 0;
                text-align: center;
                font-family: 'arial';
                position: absolute;
                top:50%;
                left:50%;
                transform:translateX(-60%) translateY(-100%)
            }
        </style>
    </head>
    <body background="https://i.pinimg.com/originals/d6/68/ab/d668abc72809303852c27275e6a56775.gif">
        <h2 style="color: aqua;">{{n}}</h2>
        <h3 style="text-align:right; color: aqua;">Powered by MarkTronix</h3>
    </body>
</html>
